FLASK_APP=run.py
SECRET_KEY=e54792e999169c77e9019c312c68e32c57027e559810a49e009a6635b1e2afce
DATABASE_URL=postgresql+psycopg2://postgres:123456@localhost:5432/intelligent_log_forensics
UPLOAD_FOLDER=instance/uploads
REPORT_FOLDER=instance/reports
MAX_CONTENT_LENGTH=104857600
